<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>轮播</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/hplus/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/hplus/bootstrap/css/bootstrap.css" media="all">
    <link href="/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="/hplus/js/jquery.min.js" charset="utf-8"></script>
    <script src="/hplus/bootstrap/js/bootstrap.js" charset="utf-8"></script>
    <script src="/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

    <style>

        .layui-form-label {
            width: 150px;
        }
        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
    </style>
</head>
<body>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加客户</h4>
            </div>
            <div class="modal-body">
                <form class="layui-form" id="form1" action="" onsubmit="return false" >
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">客户姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="customerName" lay-verify="required" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">客户电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="customerPhone" lay-verify="required|phone" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">客户地址</label>
                            <div class="layui-input-inline">
                                <input type="text" name="customerAddress" lay-verify="required"  autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="flag" />
                    <input type="hidden" name="id" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">提交更改</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
<!-- 模态框（Modal）结束 -->

<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addBusiness">添加客户</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/hplus/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    var table;
    var form;
    layui.use(['table','form'], function () {
        table = layui.table;
        form=layui.form;

        table.render({
            elem: '#test'
            , url: '/customer/customerList'
            , toolbar: '#toolbarDemo'
            , title: '用户数据表'
            , cols: [
                [
                    {field: 'customer_name', title: '客户姓名', width: "20%"}
                    , {field: 'customer_phone', title: '客户电话', width: "20%"}
                    , {field: 'customer__address', title: '客户地址', width: "20%"}
                    , {field: 'addtime', title: '添加时间', width: "20%", templet: "<div>{{ layui.util.toDateString(d.addtime)}}</div>"}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: "20%"}
                ]
            ]
            , page: true
             ,done: function(res, curr,count){
                debugger
           }
        });
        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            if (obj.event == "addBusiness") {
                $("#myModal").modal('show');  //手动开启
                $("#myModalLabel").text("添加客户")
                $("input[name='flag']").val("1");
                $("input[name='customerName']").val("");
                $("input[name='customerPhone']").val("");
                $("input[name='customerAddress']").val("");
            }
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                swal({
                        title: "确认删除?",
                        //text: "Your will not be able to recover this imaginary file!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确认",
                        cancelButtonText: "取消",
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                type: "POST",
                                url: "/customer/deleteCustomerById",
                                data: {"id": data.id},
                                dataType: "json",
                                success: function (res) {
                                    if (res.code == 200) {
                                        swal({
                                            title:res.message,
                                            type: "success"
                                        }, function () {
                                            table.reload("test");
                                        });
                                    } else {
                                        swal("删除提示", res.message, "error");
                                    }
                                },
                                error: function () {
                                }
                            })
                        } else {
                        }
                    });
            } else if (obj.event === 'edit') {
                $("#myModal").modal('show');  //手动开启
                $("input[name='flag']").val("2");
                $("input[name='id']").val(data.id);
                $("#myModalLabel").text("修改客户");
                $("input[name='customerName']").val(data.customer_name);
                $("input[name='customerPhone']").val(data.customer_phone);
                $("input[name='customerAddress']").val(data.customer__address);
            }
        });
    });

    $("#form1").submit(function () {
        var formData = new FormData(document.getElementById("form1"));
        var  flag=  $("input[name='flag']").val();
        if(flag==1){
            $.ajax({
                async: false,
                type: "POST",
                url: "/customer/addCustomer",
                data: formData,
                dataType: "json",
                contentType: false, //不设置内容类型
                processData: false, //不处理数据
                success: function (res) {
                    if (res.code==200) {
                        swal({
                            title:res.message,
                            type: "success"
                        }, function () {
                            table.reload("test");
                            $("#myModal").modal('hide');  //手动关闭
                        });
                    } else {
                        swal("添加提示", res.message, "error");
                    }
                },
                error: function () {
                }
            })
        }else{
            $.ajax({
                async: false,
                type: "POST",
                url: "/customer/updateCustomer",
                data: formData,
                dataType: "json",
                contentType: false, //不设置内容类型
                processData: false, //不处理数据
                success: function (res) {
                    if (res.code==200) {
                        swal({
                            title:res.message,
                            type: "success"
                        }, function () {
                            table.reload("test");
                            $("#myModal").modal('hide');  //手动关闭
                        });
                    } else {
                        swal("修改提示", res.message, "error");
                    }
                },
                error: function () {
                }
            })
        }
    });
</script>

</body>
</html>